* {
    margin:0px;
    padding:0px;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.padding-tb-20{
    padding: 20px 0px 20px 0px;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexbox-row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #336;
    color: #EEE;
}

#header {    
    background-color: #EEE;
    color: #336;           
}

a {
    color: #99C;
    font-weight: bold;
    text-decoration: none;
}

#content > * {
    margin-bottom: 20px;
}

#footer {
    text-align: center; 
}

#fetchButton{
    background-color: #EEE;
    color:#336;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    width: 160px;
    height: 40px;
    border-radius: 8px;
}

form {
    margin-top: 1em;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #113;
    color: #EEE;                
}

label {
    box-sizing: border-box;
    background-color: #EEE;
    color: #336;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 8px;
}